body{
    background-color: rgba(13, 119, 225, 0.7);
    font-family: 'Open Sans', sans-serif;
}

h1,h2{
    text-align: center;
}

input{
    margin: 5px;
    padding: 2px;
}

button{
    margin: auto;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgba(64, 113, 143, 0.9);
}

.cantidad-videos{
    display: block;
    margin: auto;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 20px;
    width: 35px;
    background-color: rgba(64, 113, 143, 0.9);
}

.oculto{
    display: none;
}
